<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<mappers>
  		<mapper resource="mybatis/mapper/mybatisMapper.xml"/> <!-- 클래스패스의 상대경로의 리소스 사용 -->
  	</mappers>
  
  </configuration>