<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean : Spring이 관리하는 자바 객체  -->
	<bean id="hong" class="test01.Address">  <!--test01.Address 클래스를 사용한 lee라는 아이디를 가진 인스턴스가 생성됨  -->
		<constructor-arg name="name" value="홍진호"/> <!-- name 값에 address클래스의 변수를 넣어줌 -->
		<constructor-arg name="address" value="서울시 강남구" />
		<constructor-arg name="phone" value="010-2222-2222"/>
	</bean>
	
	<bean id="lee" class="test01.Address">
		<property name="name" value="이제동"/> <!--setter를 부를 때 사용  -->
		<property name="address" value="논산"/>
		<property name="phone" value="010-1111-1111"/> 
	</bean>
	
	<bean id="kim" class="test01.Address">
		<constructor-arg index="0" value="김정우" />
		<constructor-arg index="1" value="서울시 종로구" />
		<constructor-arg index="2" value="010-3333-3333" />
	
	</bean>
</beans>
