<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dateBean" class="java.util.Date">
		<property name="year" value="121"/> <!-- date클래스에서 set메서드를 사용해 값을 가져오기 위해(api참고) -->
		<property name="month" value="9"/>
		<property name="date" value="9"/>
	</bean>

	<bean id="scoreBean" class="test03.Score">
		<constructor-arg name="name" value="소은"/>
		<constructor-arg name="kor" value="100"/>
		<constructor-arg name="eng" value="99"/>
	</bean>
	
	<bean id="beanTest" class="test03.BeanTest">
		<constructor-arg name="date" ref="dateBean"/> <!-- 생성자의 매개변수명이 date이므로 name에 date넣음 / ref에는 미리 만들어놨던 bean의 아이디를 넣음 -->
		<property name="score" ref="scoreBean"/>
		<property name="boolean" value="true"/>
		<property name="number" value="10.1"/>
		<property name="array">
			<array>
				<value>홍길동</value>
				<value>이순신</value>
				<value>김선달</value>
			</array>
		</property>
		<property name="list">
			<list>
				<value>봄</value>
				<value>여름</value>
				<value>가을</value>
				<value>겨울</value>
			</list>
		</property>
		<property name="set">
			<set>
				<value>1</value>
				<value>2</value>
				<value>3</value>
				<value>4</value>
			</set>
		</property>
		<property name="map">
			<map>
				<entry>
					<key><value>spring</value></key>
					<value>봄</value>
				</entry>
				<entry key="summer" value="여름"/> <!--위에 방법보다는 이게 더 편함  -->
				<entry key="fall" value="가을"/>
				<entry key="winter" value="겨울"/>
			</map>
		</property>
		<property name="properties">
			<props>
				<prop key="sky">하늘</prop>
				<prop key="ground">땅</prop>
			</props>
		</property>
		<property name="scoreList">
			<list> <!-- 1. 리스트 안에 bean을 다시 만드는 방법  -->
				<bean class="test03.Score">
					<constructor-arg value="오일남"/>
					<constructor-arg value="100"/>
					<constructor-arg value="100"/>
				</bean>
				<!-- 2. bean을 참조시키는 방법-->
				<ref bean="scoreBean"/>
			</list>
		</property>
	</bean>
</beans>
