<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="wheelBean" class="test01.Wheel">
		<property name="radius" value="20"/>
	</bean>
	<bean id="wheelBean2" class="test01.Wheel">
		<property name="radius" value="30"/>
	</bean>
	<context:component-scan base-package="test01"/>  <!-- base-package에는 탐색하고 싶은 패키지명을 넣어주면 됨 -->

</beans>
