<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="wheel" class="test04.Wheel"/> <!-- wheel을 먼저 bean으로 등록하고, -->
	<bean id="car" class="test04.Car">  <!-- Car생성 시 wheel bean을 참조시킴 -->
		<constructor-arg name="wheel" ref="wheel"/>
	</bean>

</beans>
